
table { 
	width: 100%; 
	border-collapse: collapse; 
	margin:50px auto;
    table-layout: auto;
    
    
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: black; 
	color: white; 
	font-weight: bold; 
    font-size: 12px;
	}

td, th { 
	padding: 2px; 
	border: 1px solid #ccc; 
	text-align: left;  
    width: 200px;
    overflow: hidden;

    white-space: nowrap;
	}

td{
        font-size: 9px;
       
    }
.small{
        width:2%;
    }

    
.caseBloque{
        
        width:20px;
        
    }
.col-sm-3{
        height:18px;
        width:10px;
        
    }
}
